In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("qald-8-test.csv")

In [3]:
df.lang.unique()

array(['en'], dtype=object)

In [4]:
df.head()

                                           questions lang
0  What is the alma mater of the chancellor of Ge...   en
1                       How large is the area of UK?   en
2  Who is the author of the interpretation of dre...   en
3                   What is the birth name of Adele?   en
4  What are the top selling luxury vehicle brands...   en